@model Portal.Models.ViewModel.SignUpUserViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 border border-primary rounded pl-5 pr-5 pb-5">
            <div class="text-center">
                <h1 class="text-info mt-4">User SignUp Form</h1>
            </div>
            <h3 class="text-danger text-center">@TempData["errorMessage"]</h3>
            <div class="col-8 offset-2">
                <form method="post" asp-action="SignUp">
                    <div class="form-group mt-2">
                        <label asp-for="Username"></label>
                        <input placeholder="Enter Username" type="text" asp-for="Username" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-2">
                        <label asp-for="Email"></label>
                        <input placeholder="Enter Email" type="text" asp-for="Email" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-6 mt-2">
                            <label asp-for="Password"></label>
                            <input placeholder="Password" type="password" asp-for="Password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-6 mt-2">
                            <label asp-for="ConfirmPassword"></label>
                            <input placeholder="Confirm Password" type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mt-2"></div>

                    <div class="form-group">
                        <label asp-for="IsActive"></label>
                        <input type="checkbox" checked="checked" asp-for="IsActive" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-lg mb-2 mt-3 float-end" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
