@model Portal.Models.User
<div class="container">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center text-primary">Edit User Details</h1>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Edit">
                    <div class="form-group mt-3">
                        <h4>Full Name : </h4>
                       
                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter User Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>                        
                    </div>
                    <div class="form-group mt-3">
                        <h4>Edit Profile </h4>
                        <div class="form-group row">
                            <div class=" col-sm-4">
                                <select class=" custom-select profile-select mt-1" asp-for="ProfileSocialMedia1" style="height:45px">
                                    <option value="">Select Social Media</option>
                                    <option value="Facebook-">Facebook </option>
                                    <option value="LinkedIn-">LinkedIn</option>
                                    <option value="GitHub-">GitHub</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" style="height:45px" asp-for=" ProfileUrl1" class="form-control profile-input mt-1" placeholder="Enter Profile URL">
                            </div>
                        </div>
                    

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <select class="custom-select profile-select mt-3" asp-for="ProfileSocialMedia2" style="height:45px">
                                <option value="">Select Social Media</option>
                                    <option value="Facebook-">Facebook </option>
                                    <option value="LinkedIn-">LinkedIn</option>
                                    <option value="GitHub-">GitHub</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" style="height:45px" asp-for=" ProfileUrl2" class="form-control profile-input mt-3" placeholder="Enter Profile URL">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <select class="custom-select profile-select mt-3" asp-for="ProfileSocialMedia3" style="height:45px">
                                <option value="">Select Social Media</option>
                                <option value="Facebook-">Facebook </option>
                                <option value="LinkedIn-">LinkedIn</option>
                                <option value="GitHub-">GitHub</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                                <input type="text" style="height:45px" asp-for=" ProfileUrl3" class="mt-3 form-control profile-input" placeholder="Enter Profile URL">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                                <select class="custom-select profile-select mt-3" asp-for="ProfileSocialMedia4" style="height:45px">
                                <option value="">Select Social Media</option>
                                <option value="Facebook-">Facebook </option>
                                <option value="LinkedIn-">LinkedIn</option>
                                <option value="GitHub-">GitHub</option>
                            </select>
                        </div>
                        <div class="col-sm-6" >
                                <input type="text" style="height:45px" asp-for=" ProfileUrl4" class="form-control profile-input mt-3" placeholder="Enter Profile URL">
                        </div>
                    </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Submit" class="btn btn-sm btn-outline-success floatright font-monospace" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
