
@using Portal.Models.Account
@model Portal.Models.Account.AccountUser
@* @if (Model != null)
{
    <div>
        @Model.Username
    </div>
} *@
<h1>@ViewData["Email"]</h1>
<h1>@ViewData["Username"]</h1>

