
@using Portal.Models.Account
@model IEnumerable<Portal.Models.Account.AccountUser>
@if (Model != null)
{
    <div>
        @foreach (var user in Model)
        {
            <h1>Welcome, @user.Username.ToUpper() ! </h1>
            <br />
            <br/>
            <h2> Your email is: @user.Email</h2>
            
            
            
        }
    </div>
}



